name: Docker Compose CI

on:
  push:
    branches:
      - main
  # pull_request:
  #   branches:
  #     - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub (optional)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push images to Docker Hub
        run: |
          docker tag flask-mailhog-web ${{ secrets.DOCKER_USERNAME }}/flask-mailhog-web:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-mailhog-web:latest

